@{
    Layout = "_MinimalLayout";
    ViewData["Title"] = "Login";
}

<div class="container login-container">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <form method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" autofocus />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

@section Styles{
    <style>
        .login-container{
            margin-top: 60px;
        }
    </style>
}